.boardContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  max-width: 230px;
  min-width: 200px;
}

.boardTitle {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color:rgb(230, 230, 230)
}

.addTask {
  text-align: center;
  cursor: pointer;
}