.taskContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  color: rgb(206, 206, 206);
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
}

p, .description {
  font-size: 12px;
}

input {
  color: rgb(206, 206, 206);
  background: none;
  border: none;
  margin: 5px;
}

small {
  font-size: 10px;
}

.x {
	position: absolute;
  right: 5px;
	width: 10px;
	height: 10px;
	background-color: #ff5248;
	border-radius: 50%;
}
.x::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.x::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.x:hover { cursor: pointer; }
.x:hover::before, .x:hover::after { display: block; }