.taskContainer {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  color: rgb(206, 206, 206);
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
}

p, .description {
  font-size: 12px;
}

input {
  color: rgb(206, 206, 206);
  background: none;
  border: none;
  margin: 5px;
}

small {
  font-size: 10px;
}